
body {
	font-family:Lato;
}

.schedule-container{
  background-color: #e6e6e6;
  width:50%;
  margin: 0 auto;
  text-align:center;
  padding: 10%;
  height: 100%;
}

.circle{
	width: 42px;
	height: 42px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    line-height: 0;
    position: relative;
    background: #e6e6e6;
    color: black;
    -webkit-box-shadow: 0px 0px 0px .35em rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px .35em rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px .15em white;

}

.event-time{
    position: absolute;
    width: 25%;
}

.event-comment{
    position: absolute;
    display: inline;
    margin-left: 10%;
}



